.root {
    text-align: center;
    li {
        display: inline-block;
  
  

        &:hover {
           
       
        a {
            color:#fff;
            background-color: #fe5f1e;
        }
         
        }
       
        a {
            color:#fe5f1e;
            width: 45px;
            border: 1px solid #fe5f1e;
            border-radius: 30px;
            cursor: pointer;
            margin-right: 20px;
            padding: 10px;
            display: inline-block;
        }
    }
    :global {
        .selected {
           a {
            background-color: #fe5f1e;
            color:#fff;
           }
        }
    }
}