.root {
    position: relative;
    left: -120px;
}

.input {
    border: 1px solid rgba(0,0,0,0.1);
    padding: 12px 40px;
    width: 400px;
    border-radius: 10px;
    font-size: 18px;

    &:focus {
        border: 1px solid rgba(0,0,0,0.2);
}
}

.icon {
    width: 24px;
    height: 24px;
    opacity: 0.3;
    position: absolute;
    top: 15px;
    left: 10px
}